<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Museo Online</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <p>
        Fecha Inicio:
        </br>
        {{ request.session.fecha_inicio}}
    </p>
    {% if request.user.is_authenticated %}
    <p>
        Nombre Usuario: {{ request.user }}
    </p>
    {% endif %}
      <ul class="navbar-nav">
        <!-- Grupo para Museos -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="museoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Museos</a>
          <ul class="dropdown-menu" aria-labelledby="museoDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'listar_museos' %}">Listado de Museos</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'museo_create' %}">Crear Museo</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'museo_buscar_avanzado' %}">Búsqueda avanzada Museo</a>
            </li>
          </ul>
        </li>

        <!-- Grupo para Exposiciones -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="exposicionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Exposiciones</a>
          <ul class="dropdown-menu" aria-labelledby="exposicionDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'listar_exposiciones' %}">Listado de Exposiciones</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'exposicion_create' %}">Crear Exposición</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'exposicion_buscar_avanzado' %}">Búsqueda avanzada Exposición</a>
            </li>
          </ul>
        </li>
    

        <!-- Grupo para Artistas -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="artistaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Artistas</a>
          <ul class="dropdown-menu" aria-labelledby="artistaDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'listar_artistas' %}">Listado de Artistas</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'artista_create' %}">Crear Artista</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'artista_buscar_avanzado' %}">Búsqueda avanzada Artista</a>
            </li>
          </ul>
        </li>

        <!-- Grupo para Obras -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="obraDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Obras</a>
          <ul class="dropdown-menu" aria-labelledby="obraDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'listar_obras' %}">Listado de Obras</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'obra_create' %}">Crear Obra</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'obra_buscar_avanzado' %}">Búsqueda avanzada Obra</a>
            </li>
          </ul>
        </li>

        <!-- Grupo para Guias -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="artistaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Guias</a>
          <ul class="dropdown-menu" aria-labelledby="artistaDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'listar_guias' %}">Listado de Guias</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'guia_create' %}">Crear Guía</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'guia_buscar_avanzado' %}">Búsqueda avanzada Guia</a>
            </li>
          </ul>
        </li>

        <!-- Grupo para Visita Guiada -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="obraDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Visitas Guiadas</a>
          <ul class="dropdown-menu" aria-labelledby="obraDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'listar_visitas_guiadas' %}">Listado de Visitas Guiadas</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'visita_guiada_create' %}">Crear Visita Guiada</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'visita_guiada_buscar_avanzado' %}">Búsqueda avanzada Visita Guiada</a>
            </li>
          </ul>
        </li>

        <!-- Grupo para Visitas -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="visitaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Visitas</a>
          <ul class="dropdown-menu" aria-labelledby="visitaDropdown">
            {% if request.user.is_authenticated %}
              <li>
                <a class="dropdown-item" href="{% url 'visita_lista_usuario' request.user.id %}">Ver Mis Visitas</a>
              </li>
            {% endif %}
              <li>
                <a class="dropdown-item" href="{% url 'visita_crear' %}">Crear Visita</a>
              </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="ml-2">
  {% if not request.user.is_authenticated %}
  <a class="btn btn-outline-warning" href="{% url 'login' %}">
      Login
  </a>
  {% endif %}

  {% if not request.user.is_authenticated %}
    <a class="btn btn-outline-warning" href="{% url 'registrar_usuario' %}">
        Registrarse
    </a>
   {% endif %}

   {% if request.user.is_authenticated %}
   <form action="{% url 'logout' %}" class="d-flex m-3" role="search" method="POST">
    {% csrf_token %} 
    <button class="btn btn-light btn-outline-dark" type="submit">  Desconectarse</button>
  </form>
  {% endif %}
</div>
</nav>
