<!DOCTYPE>
<html>
    <head>
        <title>Museo</title>
    </head>
    <body>
        <h1>Obras del artista {{artista}} en la exposición: {{exposicion}}</h1>
        {% for obra in obras %}
            <div>
                <h2>Titulo: {{obra.titulo}}</h2>
                <h2>Fecha en la que se realizo: {{obra.fecha_creacion}}</h2>
                <h2>Tipo: {{obra.tipo}}</h2>
                <h2>Imagen: {{obra.imagen}}</h2>
            </div>
            <br><br>
        {% endfor %}
    </body>
</html>