<!DOCTYPE html>
<html>
<head>
    <title>Museo</title>
</head>
<body>
    <h1>Productos sin vender</h1>
    <ul>
        {% for producto in productos %}
            <li>
                <strong>{{ producto.nombre }}</strong>: {{ producto.precio }} (Stock: {{ producto.stock }})<br>
                <strong>{{ producto.descripcion}}</strong><br>
                {% for inventario in producto.inventario_producto.all %}
                <strong>Cantidad Vendida: </strong>{{ inventario.cantidad_vendida }}<br>
                {% endfor %}
                <strong>Tiendas:</strong>
                    {% for tienda in producto.tiendas.all %}
                        {{ tienda.nombre }}
                        <br>
                    {% endfor %}
                <br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>